
<div class="d-flex">

  <!-- Sidebar Component -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>

    <hr class="text-light">

    <div class="list-group list-reset">
      <a 
      href="#"
      class="list-group-item list-group-item-action"
      >
        Dashboard
      </a>
    </div>
  </div>
  <!-- End Sidebar Component -->


  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search:</h5>
        <input type="text" class="form-control" placeholder="Search Gifs">
      </div>
    </div>

    <hr />
    
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, officiis? Est soluta ratione odit placeat. Neque nemo, libero laboriosam quaerat animi numquam optio? Dicta aliquid laborum laboriosam ipsum recusandae cum.
      </div>
    </div>

  </div>
</div>